/* Title and logo styling */
.global-header {
  background-color: black;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  width: 100%;
  height: 50px;
}

.global-header a {
  font-weight: 600;
}

.global-header__right {
  display: flex;
  flex-direction: row;
}

.global-header__right button {
  text-transform: uppercase;
  text-align: center;
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-icon .icon {
  width: 20px;
  height: 20px;
}

#global-nav-toggle .icon {
  width: 20px;
  height: 50px;
  padding-bottom: 3px;
}

#global-nav-toggle {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 15px;
}

.global-nav {
  display: none;
}

.site-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 50px;
}

.site-title:link, .site-title:visited {
  color: white;
}

.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

#park-header {
  background-color: black;
}

.hero-banner {
  display: grid;
  align-items: baseline;
  margin-bottom: 10px;
}

.hero-banner img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-banner_content {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-self: end;
}

.hero-banner_title:link, .hero-banner_title:visited {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.hero-banner_subtitle {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
}

.park-nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 0.75em;
  padding-bottom: 10px;
}

.park-nav .icon {
  width: 30px;
  height: 25px;
}

.park-nav a {
  width: 50px;
}

.park-nav a:link, .park-nav a:visited {
  color: white;
  text-decoration: none;
}

svg {
  background-color: var(--bs-black);
  fill: white;
}


@media screen and (min-width: 500px){
  .hero-banner img {
    height: 330px;
  }

  .hero-banner_content {
    height: 70px;
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1000px){
  .hero-banner img {
    height: 400px;
  }

  .hero-banner_content {
    height: 80px;
    font-size: 1.4em;
  }
}