:root {
  --bs-black: #000;
  --bs-brown: #393423;
  --bs-grey-2: #444;
  --bs-grey-3: #ccc;
  --bs-grey-4: #222;
  --bs-grey-5: #333;
  --bs-grey-6: #999;
  --bs-cape-honey: #ffe9ab;
  --bs-cerulean: #00aced;
  --bs-code-grey: #1d1d1d;
  --bs-chathams-blue: #0f4f7e;
  --bs-chathams-blue-2: #005999;
  --bs-chathams-blue-3: #87a7be;
  --bs-chathams-blue-4: #e1ebf4;
  --bs-crete: #4b5e26;
  --bs-light-green: #eaf0dc;
  --bs-dark-burgundy: #821206;
  --bs-emperor: #4f4f4f;
  --bs-madison: #093058;
  --bs-pampas: #f6f5f0;
  --bs-pablo: #73705f;
  --bs-white: #fff;
  --bs-pablo-2: #706d61;
  --bs-purple: #44136c;
  --bs-purple-2: #956cb7;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #4b5e26;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 75, 94, 38;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-serif: "Times New Roman", Times, serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.75;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #005999;
  --bs-link-hover-color: #003e6b;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

/* Global styles */

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
}

a:link,
a:visited {
  color: var(--bs-link-color);
}

a:hover {
  color: var(--bs-link-hover-color);
}

.disclaimer {
  margin: 15px;
}

/* Skip links styling */
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

/* Title and logo styling */
.global-header {
  background-color: black;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  width: 100%;
  height: 50px;
}

.global-header a {
  font-weight: 600;
}

.global-header__right {
  display: flex;
  flex-direction: row;
}

.global-header__right button {
  text-transform: uppercase;
  text-align: center;
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-icon .icon {
  width: 20px;
  height: 20px;
}

#global-nav-toggle .icon {
  width: 20px;
  height: 50px;
  padding-bottom: 3px;
}

#global-nav-toggle {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 15px;
}

.global-nav {
  display: none;
}

.site-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 50px;
}

.site-title:link, .site-title:visited {
  color: white;
}

.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

#park-header {
  background-color: black;
}

.hero-banner {
  display: grid;
  align-items: baseline;
  margin-bottom: 10px;
}

.hero-banner img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-banner_content {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-self: end;
}

.hero-banner_title:link, .hero-banner_title:visited {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.hero-banner_subtitle {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
}

.park-nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 0.75em;
  padding-bottom: 10px;
}

.park-nav .icon {
  width: 30px;
  height: 25px;
}

.park-nav a {
  width: 50px;
}

.park-nav a:link, .park-nav a:visited {
  color: white;
  text-decoration: none;
}

/* Utility styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
  background-color: var(--bs-black);
  fill: white;
}

.intro {
  margin: 35px 10px 45px 10px;
}

.intro h1 {
  font-weight: 400;
  font-family: var(--bs-font-serif);
  font-size: 1.5em;
}

.intro p {
  font-size: .9em;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 30px 10px;
  max-width: 400px;
  margin: 0 auto;
}

.info a, .info a:link, .info a:visited {
  color: black;
  text-decoration: none;
  font-size: .9em;
}

.info p {
  font-size: .8em;
  color: var(--bs-gray-700);
}

.info h2 {
  font-size: 1.25em;
}

#park-footer {
  background-image: url(../images/topo_pattern.png);
  padding: 10px;
  font-size: .85em;
}

#park-footer p {
  margin: 5px 0px 18px 0px;
  color: var(--bs-gray-700);
}

#footer-heading {
  font-family: var(--bs-font-serif);
  text-transform: uppercase;
}

#mail-heading {
  margin-bottom: 5px;
}

#phone-heading {
  margin-bottom: 5px;
}


@media screen and (min-width: 500px){
  .hero-banner img {
    height: 330px;
  }

  .hero-banner_content {
    height: 70px;
    font-size: 1.25em;
  }

  .intro {
    margin: 35px 20px 45px 20px
  }

  .intro h1 {
    font-size: 1.65em;
  }

  .intro p {
  font-size: .95em;
  line-height: 1.5;
  margin: 15px 0 15px 0;
  }

  .info {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .info-group {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px 0 20px 0;
  }

  .info h2 {
    font-size: 1.45em;
  }

  .info p {
    font-size: .9em;
  }
}

@media screen and (min-width: 620px){
  .info-group {
    max-width: 300px;
  }
}

@media screen and (min-width: 750px){
  .info-group {
    max-width: 350px;
  }
}

@media screen and (min-width: 1000px){
  .hero-banner img {
    height: 400px;
  }

  .hero-banner_content {
    height: 80px;
    font-size: 1.4em;
  }

  .intro h1 {
    font-size: 1.75em;
    margin: 30px 0 30px 0;
  }

  .intro p {
  font-size: 1em;
  }

  .info-group {
    max-width: 400px;
  }

  .info h2 {
    font-size: 1.55em;
  }

  .info p {
    font-size: .95em;
  }
}