:root {
    --bs-gray-400: #ced4da;
}

.center-name {
    display: flex;
    font-size: .95rem;
    border-bottom: 1px solid var(--bs-gray-400);
}

.center-name h1 {
    padding-left: 7px;
}

.center-name svg {
    fill: black;
    height: 30px;
    width: 30px;
    margin-top: 20px;
}

.center-intro figure {
    margin: 1em 3em;
}

.center-intro figcaption {
    font-size: 0.8em;
}

.center-intro figcaption > span {
    display: block;
    font-size: 0.8em;
    font-style: italic;
}

.center-info svg {
    height: 1.15rem;
    width: 1.15rem;
    fill: black;
    margin-right: .7rem;
}

.center-info img {
    height: 20px;
    width: 30px;
}

.center-info summary {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    border-bottom: 1px solid var(--bs-gray-400);
    padding: 10px 0px;
}

.center-info summary img {
    margin-left: auto;
}

#cAmenities ul {
    list-style: none;
}

#cAmenities li {
    margin-bottom: 1em;
}

.center-gallery svg {
    width: 30px;
    height: 25px;
}

.center-gallery h2 {
    text-transform: uppercase;
    font-size: 1.25rem;
}

.center-gallery ul {
    list-style: none;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.center-gallery img {
    width: 265px;
    height: 265px;
    object-fit: cover;
    object-position: center;
}
